POSTGRES_USER=pg_username
POSTGRES_PASSWORD=pg_password
POSTGRES_DB=pg_db
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres_db:5432/${POSTGRES_DB}?schema=public"



JWT_SECRET=secret_key
NEXT_SERVER_API_URL=http://api:3001
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_JWT_SECRET="${JWT_SECRET}"
NEXT_PUBLIC_TINYMCE_API_KEY=your_tinymce_api_key